{% extends "base.html" %}
{% load static%}

{% block title %}
به حساب کاربری خودتان خوش آمدید
{% endblock title %}

{% block content %}
        <section id="page-content" class="sidebar-right" style="background-color:#EDE1CF; padding-top:5%;">
            <div class="container">
                <div class="row">
                    <div class="sidebar col-lg-2">
                        <ul class="nav nav-pills flex-column" style="max-width: 300px;">
                            <li class="nav-item"><a class="nav-link active" href="#"><i class="icon-grid"></i> پیشخوان</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'account:profile-edit' pid=profile.id %}"><i class="icon-user"></i> پروفایل</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'account:profile-order' %}"><i class="icon-shopping-cart"></i> سفارش‌ها</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><i class="icon-log-out"></i> خروج</a></li>
                        </ul>
                        <div class="widget clearfix widget-archive">
                            <h5 class="widget-title"></h5>
                        </div>
                    </div>
                    <div class="content col-lg-10" style="background-color:; padding-right:20px;">
                        <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <h3 style="color:#107980">کاربر {{ profile.user.username }} خوش آمدید</h3>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td class="cart-product-name">
                                                        <strong>نام و نام‌خانوادگی</strong>
                                                    </td>
                                                    <td class="cart-product-name text-right">
                                                        {% if profile.user.first_name %}
                                                        <span class="amount color lead color lead">{{ profile.user.first_name }}</span>
                                                        {% endif %}
                                                        {% if profile.user.last_name %}
                                                        <span class="amount color lead color lead">{{ profile.user.last_name }}</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="cart-product-name">
                                                        <strong>کد ملی</strong>
                                                    </td>
                                                    <td class="cart-product-name  text-right">
                                                        {% if profile.code %}
                                                        <span class="amount color lead color lead">{{ profile.code }}</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="cart-product-name">
                                                        <strong>شماره موبایل</strong>
                                                    </td>
                                                    <td class="cart-product-name  text-right">
                                                        {% if profile.mobile %}
                                                        <span class="amount color lead color lead">{{ profile.mobile.mobile }}</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="cart-product-name">
                                                        <strong>سالن</strong>
                                                    </td>
                                                    <td class="cart-product-name  text-right">
                                                        {% if profile.hall %}
                                                        <span class="amount color lead color lead">{{ profile.hall.name }}</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="cart-product-name">
                                                        <strong>نام غرفه</strong>
                                                    </td>
                                                    <td class="cart-product-name  text-right">
                                                        {% if profile.booth_name %}
                                                        <span class="amount color lead color lead">{{ profile.booth_name }}</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="cart-product-name">
                                                        <strong>شماره غرفه</strong>
                                                    </td>
                                                    <td class="cart-product-name  text-right">
                                                        {% if profile.booth_number %}
                                                        <span class="amount color lead color lead">{{ profile.booth_number }}</span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>
                        <p><span class="badge badge-warning" style="font-size:100%">لطفا اطلاعات بالا را با دقت تکمیل نمایید تا سفارش شما بدون مشکل ثبت شود.</span></p>
                        
                    </div>

                    
                </div>
            </div>
        </section>

{% endblock content %}