{% extends "base.html" %}
{% load static %}
{% block title %}
صفحه اصلی | کافه پلانکتون نمایشگاه
{% endblock title %}

{% block content %}



 <section class="p-b-0">
    <div class="container">
        <div class="content col-lg-12">
                        
                        <div class="heading-text text-center">
                            {% comment %} <h5 class="text-uppercase">ویژگی ها
                            </h5> {% endcomment %}
                            <h2><span>به کافه <b style="color:#b36710">پلانکتون</b> خوش آمدید</span></h2>
                            {% comment %} <p>پولو مملو از ویژگی های فراوانی است که به شما قدرت ایجاد وب را همانطور که همیشه می خواستید
                                می دهد.</p> {% endcomment %}
                            {% comment %} <a href="#" class="btn btn-outline btn-rounded">بیشتر بخوانید</a> {% endcomment %}
                        </div>
                    </div>
        <div id="portfolio" class="grid-layout portfolio-3-columns" data-margin="20">

            <div class="portfolio-item img-zoom ct-photography ct-marketing ct-media">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <a href=""><img src="{% static 'homepages/grid/images/1.jpg' %}" alt=""></a>
                    </div>
                    <div class="portfolio-description">
                        <a title="" data-lightbox="image" href="homepages/grid/images/1.jpg"></a>
                        <a href=""></a>
                    </div>
                </div>
            </div>


            <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <a href="#"><img src="{% static 'homepages/grid/images/22.jpg' %}" alt=""></a>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">
                            
                        </a>
                    </div>
                </div>
            </div>


            <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <a href="#"><img src="{% static 'homepages/grid/images/3.jpg' %}" alt=""></a>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">

                        </a>
                    </div>
                </div>
            </div>


            <div class="portfolio-item img-zoom ct-photography ct-media ct-branding ct-Media">
                <div class="portfolio-item-wrap">
                    <div class="portfolio-image">
                        <a href="#"><img src="{% static 'homepages/grid/images/4.jpg' %}" alt=""></a>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">
                            
                        </a>
                    </div>
                </div>
            </div>


            <div class="portfolio-item-wrap">
                <div class="portfolio-item img-zoom ct-marketing ct-media ct-branding ct-marketing ct-webdesign">
                    <div class="portfolio-image">
                        <a href="#"><img src="{% static 'homepages/grid/images/5.jpg' %}" alt=""></a>
                    </div>
                    <div class="portfolio-description">
                        <a href="portfolio-page-grid-gallery.html">
                            
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <br>
    <br>
    <br>
</section>
{% comment %} 
{% comment %} <section class="background-grey text-dark">
<div class="container">
<div class="row">
<div class="col-lg-3">
<div class="text-center">
<div class="icon"><i class="fa fa-3x fa-code"></i></div>
<div class="counter"> <span data-speed="3000" data-refresh-interval="50" data-to="12416" data-from="600" data-seperator="true"></span> </div>
<div class="seperator seperator-small"></div>
 <p>خطوط کد</p>
</div>
</div>
<div class="col-lg-3">
<div class="text-center">
<div class="icon"><i class="fa fa-3x fa-coffee"></i></div>
<div class="counter"> <span data-speed="4500" data-refresh-interval="23" data-to="365" data-from="100" data-seperator="true"></span> </div>
<div class="seperator seperator-small"></div>
<p>فنجان های قهوه</p>
</div>
</div>
<div class="col-lg-3">
<div class="text-center">
<div class="icon"><i class="fa fa-3x fa-rocket"></i></div>
<div class="counter"> <span data-speed="3000" data-refresh-interval="12" data-to="114" data-from="50" data-seperator="true"></span> </div>
<div class="seperator seperator-small"></div>
<p>پروژه های تمام شده</p>
</div>
</div>
<div class="col-lg-3">
<div class="text-center">
<div class="icon"><i class="fa fa-3x fa-smile"></i></div>
<div class="counter"> <span data-speed="4550" data-refresh-interval="50" data-to="14825" data-from="48" data-seperator="true"></span> </div>
<div class="seperator seperator-small"></div>
<p>مشتریان راضی</p>
</div>
</div>
</div>
</div>
</section> {% endcomment %}


<section>
    <div class="container">
        <div class="heading-text heading-section">
            <h2>خدمات ما</h2>
            <span class="lead"></span>
        </div>
        <div class="row">
            <div class="col-lg-4" data-animate="flipInY" data-animate-delay="0">
                <div class="icon-box effect small">
                    <div class="icon">
                        <a href="#"><i class="fa fa-coffee"></i></a>
                    </div>
                    <h3>نوشیدنی‌های گرم</h3>
                    <p>انواع قهوه،هات چاکلت،دمنوش و چای</p>
                </div>
            </div>
            <div class="col-lg-4" data-animate="flipInY" data-animate-delay="200">
                <div class="icon-box effect small ">
                    <div class="icon">
                        <a href="#"><i class="fa fa-glass-martini"></i></a>
                    </div>
                    <h3>نوشیدنی‌های سرد</h3>
                    <p>انواع آبمیوه و کوکتل</p>
                </div>
            </div>
            <div class="col-lg-4" data-animate="flipInY" data-animate-delay="200">
                <div class="icon-box effect small ">
                    <div class="icon">
                        <a href="#"><i class="fa fa-utensils"></i></a>
                    </div>
                    <h3>کیک و استارتر</h3>
                    <p>کیک شکلاتی و ساده</p>
                </div>
            </div>
            <div class="col-lg-4" data-animate="flipInY" data-animate-delay="200">
                <div class="icon-box effect small ">
                    <div class="icon">
                        <a href="#"><i class="fa fa-shipping-fast"></i></a>
                    </div>
                    <h3>تحویل در محل غرفه</h3>
                    <p>بعد از ثبت سفارش در محل غرفه خود تحویل بگیرید</p>
                </div>
            </div>
            <div class="col-lg-4" data-animate="flipInY" data-animate-delay="200">
                <div class="icon-box effect small ">
                    <div class="icon">
                        <a href="#"><i class="fa fa-handshake"></i></a>
                    </div>
                    <h3>فضای اختصاصی</h3>
                    <p>ویژه برای مدیران کسب و کار</p>
                </div>
            </div>
            <div class="col-lg-4" data-animate="flipInY" data-animate-delay="200">
                <div class="icon-box effect small ">
                    <div class="icon">
                        <a href="#"><i class="fa fa-hourglass-end"></i></a>
                    </div>
                    <h3>صرفه جویی در زمان</h3>
                    <p>با ثبت سفارش آنلاین و تحویل در محل غرفه در زمان خود صرفه جویی کنید</p>
                </div>
            </div>
            <div class="seperator p-b-0 p-t-0"><i class="fa fa-chevron-down"></i>
            </div>
            <div class="col-lg-3">
            </div>
            <div class="content col-lg-6">
                <div class="col-lg-12  text-center">
                        <a href="{% url 'shop:products' %}"><button type="button" class="btn btn-rounded btn-reveal btn-block btn-lg" style="background-color:#a16118"><span>مشاهده لیست منو</span><i
                                class="icon-chevron-left"></i></button></a>
                </div>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
    </div>
</section>
{% comment %} 
<section id="section-menu" class="p-t-150 p-b-150 text-light"
            data-bg-parallax="{% static 'homepages/caffe/images/parallax/3.jpg' %}">
            <div class="triangle-divider-top"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="content col-lg-6">
                        <div class="col-lg-12  text-center">
                                <button type="button" class="btn btn-rounded btn-reveal btn-block btn-lg"><span>مشاهده لیست منو</span><i
                                        class="icon-chevron-left"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="triangle-divider-bottom"></div>
        </section> {% endcomment %}



{% endblock content %}