{% extends "base.html" %}
{% load jalali_tags %}
{% load humanize %}
{% block title %}
لیست سفارش‌های آنلاین
{% endblock title %}

{% block content %}
<section id="page-content">
            <div class="container">
                <div class="row">
                    <div class="content col-lg-12">
                        <a class="btn btn-lg" href="{% url 'shop:online' %}" target="_blank"><i class="fa fa-cog"></i> سفارشات آنلاین</a>
                    </div>
                </div>
            </div>
</section>
<section id="page-content" class="no-sidebar">
            <div class="container">

                <div class="row mb-5">
                    <div class="col-lg-6">
                        <h4> شماره فاکتور {{ invoice.id }}</h4>
                    </div>
                    <div class="col-lg-6" style="text-align:left">
                        <h4><a href="{% url 'shop:online' %}">بازگشت</a></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table id="datatable" class="table table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>نام محصول</th>
                                    <th>تعداد</th>
                                    <th>قیمت واحد(تومان)</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                            {% for item in item %}
                                <tr>
                                    <th>{{ forloop.counter }}</th>
                                    <th>{{ item.name }}</th>
                                    <th>{{ item.count }}</th>
                                    <th>{{ item.price|intcomma:False }}</th>
                                    
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <h5><strong>نام مشتری: </strong>{{ customer.user.first_name }} {{ customer.user.last_name }}</h5>
                        <h5><strong> شماره مشتری:</strong> {{ customer.mobile.mobile }} <br><strong> آدرس: </strong>سالن  {{ customer.hall.name }} - غرفه شماره  {{customer.booth_number }} -  {{customer.booth_name }}</h5>
                    </div>
                </div>

            </div>
        </section>
{% endblock content%}